{% extends "base.html.twig" %}

{% block body %}
    <main>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-secondary">Add category</button> 
    {{ form_end(form) }}
    </main>
{% endblock %}