{% extends 'base.html.twig' %}

{% block title %}New Episode{% endblock %}

{% block body %}
    <h1 class="text-center">Création d'un nouvelle épisode</h1>

    {{ include('episode/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('episode_index') }}">Revenir à la liste</a>
{% endblock %}
